<h3>Hello!</h3>

You are registered in quiz site.
<p>Please verify your email address</p>
<p><a href="{{ url('verifyEmail', {'token': token}) }}">Verify my email address</a></p>
<p>welcome to quiz</p>